/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General project styles */
    color: aqua;
    font-family: 'Open Sans', sans-serif;
}


/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b4d61;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.header a {
    text-decoration: none;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Style for toggle label*/
.checkbox-container .nav-toggle {
    font-size: 1.5rem;
    cursor: pointer;
}

/* Nav toggle */
#nav-toggle:checked ~ .checkbox-container ~ nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.title {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ff4500;
}

#menu {
    font-size: 120%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu a {
    color: #ff4500;
}

#menu > li {
    margin-bottom: 1em;
}

/* Navabar styles with dropdown toggle */
nav {
    display: none;
    position: absolute;
    background-color: #3b4d61;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
}

/* Main Content */
main {
    /* Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 79px;
}

#container {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(9,0,77,0.45),rgba(9,0,77,0.45)),url(../kilimanjaro/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #3b4d61;

}

/* Footer */
footer {
    background-color: #3b4d61;
}

/* Media query: tablets and larger (344px and up) */
@media  screen and (min-width: 344px) {
    .title {
        font-size: 100%;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    main {
        /* Make main element take up any surplus space to push footer down*/
        flex: 1 0 auto;
        margin-top: 32px;
    }
    
}

/* Media query: tablets and larger (768px and up) */
@media  screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding: 1rem;
    }

    #menu {
        position: relative;
        display: flex;
        font-size: 100%;
        letter-spacing: 2px;
    }

    #menu > li {
        padding-left: 1rem;
    }

    main {
        /* Make main element take up any surplus space to push footer down*/
        flex: 1 0 auto;
        margin-top: 69px;
    }

    .title {
        position: relative;
        font-size: 100%;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .nav-toggle {
        display: none;
    }
}

/* large devices (Laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #ffffff;
    }
}